/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #e53170;
    cursor: pointer;
}

body {
    min-height: 100vh;
    background-color: #0f0e17;
    color: #a7a9be;
    font-size: 1.6rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-container {
    max-width: 20rem;
    width: 95%;
    padding: 20px;
    border-radius: 10px;
}

.quote-text {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}

.long-quote {
    font-size: 2rem;
}

.fa-quote-left {
    font-size: 3.5rem;
    opacity: 0.7;
}

.quote-author {
    margin-top: 15px;
    font-size: 2rem;
    line-height: 1.8px;
    font-weight: 600;
    font-style: italic;
}

.button-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
    border: none;
    border-radius: 6px;
    color: #fff;
    background: #333;
    outline: none;
    padding: 15px;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    transform: translate(0, 0.3rem);
}

.twitter-button {
    background: #ff8906;
    color: #fff;
}

.twitter-button:hover {
    background: inherit;
    border: 2px solid #ff8906;
}

.fa-twitter {
    font-size: 1.3rem;
}

#new-quote {
    background: #f25f4c;
    color: #fff;
}

/* Loader */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #333;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    .quote-container {
        width: 75%;
    }

    .quote-text {
        font-size: 2.5rem;
    }
}